<section>
  <form class="card form-input new-post-form">
    <h2 class="card-header" style="margin: 0;">Create New Post</h2>
    <div class="card-body">
      <div>
        <label for="post-title" style="display: block;">Blog Title</label>
        <input class="form-textarea" type="text" id="post-title" name="post-title" />
      </div>
      <div>
        {{!-- <label for="post-url">Link</label>
        <input id="post-url" name="post-url" /> --}}
        <label for="blog">Blog Post Content...</label>
        <input class="blog-textarea" type="text" id="blog" name="blog" />
      </div>
      <button type="submit" class="btn">Create</button>
    </div>
  </form>
</section>

{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
  <ol>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>